.card {
    text-align: center;
}

.mini, .mini img {
    max-width: 480px;
}

.large {
    display: flex;
    justify-content: space-evenly;
}

.left {
    flex-direction: row-reverse;
}
.card__image {
    max-width: 520px;
    padding: 10px;
    border: 1px solid #076470;
    border-radius: 0.375rem;
}

.card__title {
    color: #43088a;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 1.5rem;
}

.mini .card__title{
    margin-top: 1.5rem;
}

.card__desc {
    max-width: 500px;
}
@media screen and (max-width:1055px) {
.large .card__image {
    max-width: 400px;
}
}
@media screen and (max-width:935px) {
    .large .card__image {
        max-width: 350px;
    }
    p{
        font-size: 15px;
    }
    }
    @media screen and (max-width:935px) {
        .large{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            width: 100%;
        }
        .large .card__image {
           width: 100%;
           max-width: 500px;
           margin-bottom: 10px;
        }
    }
@media screen and (max-width:505px) {
    .mini img{
        width: 100%;
    }
}