button {
  margin-top: 30px;
}

.avatar-box {
  width: 280px;
  border-radius: 50%;
}
.avatar {
    width: 280px;
    border-radius: 50%;
}

@media screen and (max-width:992px) {
    .avatar-box, .avatar {
        height: 250px;
        width: 250px;
    }
    button {
        margin: 20px 0;
    }
}