.portfolio-box {
    margin: 45px 100px 0 0;
}

.portfolio-con {
    margin: 60px 15px;
}

.portfolio-con .large {
    margin-top: 50px;
}

.portfolio-con__theme {
    text-align: center;
}

@media screen and (max-width:992px) { 
    .portfolio-box {
        margin: 0 50px;
    }
}