header {
  width: 100%;
  display: flex;
  gap: 25px;
  /* align-items: center; */
  background-color: #43088a;
  padding: 18px;
}

.header__logo {
  border-radius: 50%;
  /* border: 1px solid #dab694; */
  border: 1px solid #FFFFFF;
  padding: 5px;
  font-family: "Tangerine", cursive;
  /* color: #dab694; */
  color: #FFFFFF;
  font-size: 26px;
}
nav {
  display: flex;
  gap: 25px;
  align-items: center;
  background-color: #43088a;
}
.header__menu {
  display: flex;
  list-style: none;
  gap: 12px;
  font-weight: 300;
}
.header__menu__item a {
  /* color: #dab694; */
  color: #FFFFFF;
}

.active {
  color: rgb(161, 161, 161) !important;
}

.header__menu__item a:hover {
  color: rgb(188, 186, 186);
  /* color: #FFFFFF; */
}

.header__mobile {
  display: none;
}

.header__mobile svg {
  border: 1px solid rgb(48, 47, 47);
  padding: 8px 6px;
  border-radius: 4px;
  width: 30px;
  cursor: pointer;
  position: relative;
}

.header__mobile svg:hover {
  border: 2px solid #dab694;
}

.mob-header .header__menu {
  display: inline-block;
}
@media screen and (max-width: 500px) {
  header {
    gap: 0;
    justify-content: space-between;
  }
  .header__mobile {
    display: block;
  }
  nav {
    flex-direction: column;
    gap: 5px;
    align-items: start;
  }
  .header .header__menu {
    display: none;
  }
  .header__menu__item {
    line-height: 28px;
  }
}
